

::ng-deep {
  .cdk-virtual-scroll-content-wrapper {
    width: 100%;
    padding: 5px;
  }
}

mat-form-field {
  padding-right: 5px;
}

.panel-header .panel-description {
  justify-content: space-between;
  align-items: center;
}

.viewport {
  width: 100%;
  height: 100%;

  .cdk-virtual-scroll-content-wrapper {
    padding: 5px;
  }
}

.chart {
  width: 100%;
  height: 250px;

  canvas {
    // width: 100%;
    // height: 100%;
  }
}
