<mat-form-field>
  <mat-label>風圈持續時間(S)</mat-label>
  <input
    matInput
    type="number"
    [(ngModel)]="keep"
    (ngModelChange)="init()"
  />
</mat-form-field>
<mat-form-field>
  <mat-label>第一次風圈施放時間(S)</mat-label>
  <input
    matInput
    type="number"
    [(ngModel)]="startTime"
    (ngModelChange)="init()"
  />
</mat-form-field>
<mat-form-field>
  <mat-label>最後到站時間(S)</mat-label>
  <input
    matInput
    type="number"
    [(ngModel)]="endTime"
    (ngModelChange)="init()"
  />
  <mat-hint align="start">{{ toTime(endTime) }} </mat-hint>
</mat-form-field>
<br />
<mat-form-field>
  <mat-label>組合</mat-label>
  <input
    matInput
    type="text"
    [(ngModel)]="form.combination"
    (ngModelChange)="search()"
    [placeholder]="'Ex. 0 10 20 30 35'"
  />
  <mat-hint align="start"><strong>輸入冷卻時間的組合</strong> </mat-hint>
  @if (form.combination) {
  <button matSuffix mat-icon-button aria-label="Clear" (click)="clear()">
    <mat-icon>close</mat-icon>
  </button>
  }
</mat-form-field>
<mat-tab-group
  mat-stretch-tabs="false"
  mat-align-tabs="start"
  [selectedIndex]="selected.value"
  (selectedIndexChange)="selected.setValue($event)"
>
  <mat-tab label="全部">
    <mat-accordion>
      @for (record of combinations; track record.id) {
      <mat-expansion-panel>
        <mat-expansion-panel-header class="panel-header">
          <mat-panel-title> 風圈時間：{{ record.totalTime }}s</mat-panel-title>
          <mat-panel-description class="panel-description">
            <div>組合：{{ record.id }}</div>
            <div>詳細</div>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <ng-template matExpansionPanelContent>
          <div class="chart">
            <canvas #canvas [id]="initChart(canvas, record)"></canvas>
          </div>
        </ng-template>
      </mat-expansion-panel>
      }
    </mat-accordion>
  </mat-tab>
  <mat-tab label="查詢結果">
    @if (result.length==0) { 沒有符合組合 } @else {
    <mat-accordion>
      @for (record of result; track record.id) {
      <mat-expansion-panel>
        <mat-expansion-panel-header class="panel-header">
          <mat-panel-title> 風圈時間：{{ record.totalTime }}s</mat-panel-title>
          <mat-panel-description class="panel-description">
            <div>組合：{{ record.id }}</div>
            <div>詳細</div>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <ng-template matExpansionPanelContent>
          <div class="chart">
            <canvas #canvas [id]="initChart(canvas, record)"></canvas>
          </div>
        </ng-template>
      </mat-expansion-panel>
      }
    </mat-accordion>
    }
  </mat-tab>
</mat-tab-group>
